body {
    font-family: monospace;
    background-color: black;
    text-align: center;
}

#main {
    margin-top: 2vh;
}

.submitStuff {
    margin-bottom: 2vh;
}

#userInput {
    font-size: 3vh;
    padding: 1vh;
}

img{
    height: 10em;
    margin-top: 4vh;
}

button {
    font-size: 3vh;
    padding: 1vh;
}

h1 {
    font-size: 9vh;
    color: lightgreen;
}
